# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csvpath = "../../WeatherPy/output_data/city.csv"
weatherpy_df = pd.read_csv(csvpath)
weatherpy_df

,Unnamed: 0,City,Latitude,Longitude,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Daru,-9.0763,143.2092,76.64,91,88,8.25,PG,1618855570
1,1,Punta Arenas,-53.1500,-70.9167,51.80,71,20,2.30,CL,1618855220
2,2,Millinocket,45.6573,-68.7098,59.00,36,75,8.05,US,1618855070
3,3,Pizarro,4.9533,-77.3660,83.07,73,83,8.97,CO,1618855570
4,4,Hermanus,-34.4187,19.2345,63.00,79,100,14.00,ZA,1618855571
...,...,...,...,...,...,...,...,...,...,...
553,553,Alice Springs,-23.7000,133.8833,46.40,53,0,5.75,AU,1618855309
554,554,Suez,29.9737,32.5263,84.96,29,100,9.48,EG,1618855703
555,555,Muli,2.9167,73.5667,82.94,65,7,4.94,MV,1618855704
556,556,Coari,-4.0850,-63.1414,72.75,99,100,2.93,BR,1618855289
557,557,Lichinga,-13.3128,35.2406,60.80,88,75,6.91,MZ,1618855704

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weatherpy_df[["Latitude", "Longitude"]].astype(float)
humidity = weatherpy_df["Humidity"].astype(float)

In [5]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
ideal_df = weatherpy_df.loc[(weatherpy_df['Maximum Temperature'] <= 80) & 
                                                     (weatherpy_df['Maximum Temperature'] >= 70) &
                                                     (weatherpy_df['Wind Speed'] <= 10) &
                                                     (weatherpy_df['Cloudiness'] == 0)]
ideal_df = ideal_df.dropna(how='any')
ideal_df

,Unnamed: 0,City,Latitude,Longitude,Maximum Temperature,Humidity,Cloudiness,Wind Speed,Country,Date
19,19,Rikitea,-23.1203,-134.9692,77.81,72,0,9.42,PF,1618855209
53,53,Tura,25.5198,90.2201,72.27,65,0,8.03,IN,1618855581
117,117,Sarakhs,36.5449,61.1577,77.00,25,0,5.06,IR,1618855596
169,169,Sittwe,20.1500,92.9000,79.97,81,0,6.02,MM,1618855605
253,253,San Quintín,30.4833,-115.9500,73.49,32,0,6.76,MX,1618855545
315,315,Patiya,22.2931,91.9762,75.09,90,0,4.52,BD,1618855639
322,322,Pisco,-13.7000,-76.2167,73.40,68,0,8.05,PE,1618855273
381,381,Inhambane,-23.8650,35.3833,73.40,68,0,8.25,MZ,1618855655
408,408,Fasa,28.9383,53.6482,71.60,26,0,4.45,IR,1618855511
435,435,Ubari,26.5921,12.7805,77.41,25,0,9.33,LY,1618855672
451,451,Karratha,-20.7377,116.8463,79.36,53,0,9.55,AU,1618855676
518,518,Ibirubá,-28.6275,-53.0897,79.38,39,0,7.40,BR,1618855694

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = weatherpy_df[["City", "Country", "Latitude", "Longitude"]]
hotel_df["Hotel Name"] = ""
hotel_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              City Country  Latitude  Longitude Hotel Name
0             Daru      PG   -9.0763   143.2092
1     Punta Arenas      CL  -53.1500   -70.9167
2      Millinocket      US   45.6573   -68.7098
3          Pizarro      CO    4.9533   -77.3660
4         Hermanus      ZA  -34.4187    19.2345
..             ...     ...       ...        ...        ...
553  Alice Springs      AU  -23.7000   133.8833
554           Suez      EG   29.9737    32.5263
555           Muli      MV    2.9167    73.5667
556          Coari      BR   -4.0850   -63.1414
557       Lichinga      MZ  -13.3128    35.2406

[558 rows x 5 columns]

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

target_coordinates = f"{hotel_df['Latitude'][0]},{hotel_df['Longitude'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": 5000,
    "type": target_type,
    "key": g_key
}

response = requests.get(base_url, params=params)
response_json = response.json()
print(json.dumps(response_json, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "results": [
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -9.078195899999999,
                    "lng": 143.2099707
                },
                "viewport": {
                    "northeast": {
                        "lat": -9.076846070107278,
                        "lng": 143.2113205298927
                    },
                    "southwest": {
                        "lat": -9.079545729892722,
                        "lng": 143.2086208701073
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "New century hotel",
            "place_id": "ChIJjdbG6hkJrWkRWVMUmjwmhlc",
            "plus_code": {
                "compound_code": "W6C5+PX Daru, Papua New Guinea",
                "global_code": "6R25W6C5+PX"
            },
            "rating": 0,
            "reference": "ChIJjdbG6hkJrWkRWVMUmjwmhlc",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 0,
            "vicinity": "Daru"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -9.0685297,
                    "lng": 143.209553
                },
                "viewport": {
                    "northeast": {
                        "lat": -9.067179870107276,
                        "lng": 143.2109028298927
                    },
                    "southwest": {
                        "lat": -9.06987952989272,
                        "lng": 143.2082031701073
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Daru hotel",
            "photos": [
                {
                    "height": 3264,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/112242827875754506078\">A Google User</a>"
                    ],
                    "photo_reference": "ATtYBwJbe6sMCfZ40ZdjCG3MCW4h2GH7EYce5mRpBFnaVQ4CMAx-wDfP0vMYoKrvJX0CdVjJk8pxcFo91JkBIKHVuEETbgtm8M8DKnM6sbID8oYpW8DUAhrzW-Kht0jCgjL6LdUzGQw4vZWUlpSRsUzMpFQg1qBEqpY3pZVFkBg8RQiQRBOj",
                    "width": 2448
                }
            ],
            "place_id": "ChIJxTb4CGUJrWkRLUSF2RxedRI",
            "plus_code": {
                "compound_code": "W6J5+HR Daru, Papua New Guinea",
                "global_code": "6R25W6J5+HR"
            },
            "rating": 3.5,
            "reference": "ChIJxTb4CGUJrWkRLUSF2RxedRI",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 15,
            "vicinity": "Daru"
        },
        {
            "business_status": "OPERATIONAL",
            "geometry": {
                "location": {
                    "lat": -9.0878294,
                    "lng": 143.2036603
                },
                "viewport": {
                    "northeast": {
                        "lat": -9.08647957010728,
                        "lng": 143.2050101298927
                    },
                    "southwest": {
                        "lat": -9.089179229892723,
                        "lng": 143.2023104701072
                    }
                }
            },
            "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
            "name": "Crows Nest Hotel",
            "photos": [
                {
                    "height": 4032,
                    "html_attributions": [
                        "<a href=\"https://maps.google.com/maps/contrib/117238646207689661755\">Kiris Mesmin</a>"
                    ],
                    "photo_reference": "ATtYBwI2JZKaHLbM4IOD1MWJBT3zjPdsUr5eva40m2plcAYv7wcNHIIMsMq6DpfwT-kVZBGDYxMVOeNbJlZyIS20JOACUAldwCsKgRQ5nza88a7ZdWLqIJi579dv5_zUetMAUGzcRppBhiEbTgE9QoBChxKz_bpgutfMYzdQNTxatddM4WZ5",
                    "width": 3024
                }
            ],
            "place_id": "ChIJsxwVRwgJrWkRKqvcKNWXUi0",
            "plus_code": {
                "compound_code": "W663+VF Daru, Papua New Guinea",
                "global_code": "6R25W663+VF"
            },
            "rating": 3.2,
            "reference": "ChIJsxwVRwgJrWkRKqvcKNWXUi0",
            "scope": "GOOGLE",
            "types": [
                "lodging",
                "point_of_interest",
                "establishment"
            ],
            "user_ratings_total": 5,
            "vicinity": "Daru"
        }
    ],
    "status": "OK"
}

In [ ]:
hotel = []

params2 = {
    "keyword": target_search,
    "radius": target_radius,
    "types": target_type,
    "key": g_key
}

for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotel_data = requests.get(base_url, params=params2)
    hotel_data = hotel_data.json()
    
    try:
        hotel.append(hotel_data['results'][0]['name'])
    except IndexError:
        print("Missing result... skipping.")

In [ ]:
hotel_df["Hotel Name"] = hotel
hotel_df = hotel_df.dropna(how='any')
hotel_df.head()

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig